body {
    background-color: #9932CC;
    margin: 0;
    padding: 0;
}

.header {
    /* Display settings */
    align-items: center;
    display: flex;

    /* Proportions */
    height: 10vh;
    margin: 0;
    padding: 0 2vw;
    width: 96vw;
}

.header a {
    /* Font settings */
    color: #FFFFFF;
    font-size: 200%;
    text-decoration: none;
}

.content {
    /* Display settings */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Proportions */
    height: 90vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.content form {
    /* Background settings */
    background-color: #FFFFFF;

    /* Border settings */
    border-radius: 20px;
    height: 53vh;
    padding: 1vh 1vw;
    margin: 0;
    width: 33vw;
}

.content form h1 {
    /* Font settings */
    font-family: ArialRounded;
    text-align: center;
}

.content form p {
    /* Font settings */
    font-family: Arial;

    /* Proportions */
    margin: 0 0 1vh 0;}

.content form #username, #email {
    /* Font settings */
    font-family: Arial;
    /* Proportions */
    height: auto;
    margin: 0;
    padding: 0.5vh 0.5vw;
    width: 31vw;
}

.content form #password {
    /* Proportions */
    height: auto;
    margin: 0;
    padding: 0.5vh 0.5vw;
    width: 31vw;
}
.content form #submit {
    /* Background settings */
    background-color: #FFFFFF;

    /* Border settings */
    border: 3px solid #9932CC;
    border-radius: 30px;

    /* Font settings */
    font-family: ArialRounded;
    font-size: 100%;

    /* Proportions */
    height: auto;
    margin: 0 0 2vh 0;
    padding: 1vh 0;
    width: 33vw;
}

.content form #submit:disabled {
    /* Border settings */
    border: 3px solid #9370DB;
    
    /* Font settings */
    color: #CECECE;
}

.content form .centerer {
    /* Font-settings */
    text-align: center;

    /* Proportions */
    height: auto;
    margin: 0;
    padding: 0;
    width: 33vw;
}
