@font-face {
    font-family: Comfortaa;
    src: url("../media/Comfortaa.ttf");
}

    .head {
        /* Background settings */
        background-color: #4B0082;

        /* Display settings */
        display: flex;

        /* Proportions */
        height: 10vh;
        margin: 0;
        padding: 0;
        width: 100vw;
    }

        .head-1 {
            /* Proportions */
            height: 8vh;
            margin: 0;
            padding: 1vh 1vw;
            width: 8vw;
        }

            .head-1 img {
                /* Display settings */
                display: block;

                /* Proportions */
                height: 8vh;
                margin-left: auto;
                margin-right: auto;
                width: auto;
            }
        
        .head-2 {
            /* Display settings */
            display: flex;

            /* Proportions */
            height: 8vh;
            margin: 0;
            padding: 2vh 1vw 0vh 1vw;
            width: 88vw
        }
        
            .head-2 h1 {
                /* Font settings */
                color: #FFFFFF;
                font-family: Comfortaa;
                font-size: 18pt;
            }