body {
    /* Proportions */
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Comfortaa;
    src: url("../media/Comfortaa.ttf");
}
    
    .div1 {
        /* Background settings */
        background-color: #FDFDFD;

        /* Display settings */
        display: flex;

        /* Proportions */
        height: 60vh;
        width: 100vw;
    }

        .div1-1 {
            /* Font settings */
            font-family: Comfortaa;

            /* Proportions */
            height: 43vh;
            margin: 0;
            padding: 16vh 1vw 1vh 1vw;
            width: 58vw;
        }

            p {text-align: justify;}

        .div1-2 {
            /* Display settings */
            align-items: end;
            display: flex;
            justify-content: center;

            /* Proportions */
            height: 60vh;
            width: 40vw;
        }
        
            .div1-2 img {
                /* Proportions */
                height: 50vh;
                width: auto;
            }

    .div2 {
        /* Background settings */
        background-color: #DA70D6;

        /* Display settings */
        display: flex;

        /* Proportions */
        height: 30vh;
        width: 100vw;
    }

        .div2-1 {
            /* Display settings */
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;
            
            /* Font settings */
            font-family: Comfortaa;

            /* Proportions */
            height: 26vh;
            margin: 0;
            padding: 2vh 2vw;
            width: 61vw;
        }

        .div2-2 {
            /* Display settings */
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            /* Proportions */
            height: 30vh;
            width: 35vw;
        }
            
            .div2-2 span {height: 2vh;}

            .div2-2 button {
                /* Background settings */
                background-color: rgba(0, 0, 0, 0);

                /* Border settings */
                border: 3px solid #000000;
                border-radius: 30px;

                /* Font settings */
                font-family: Comfortaa;
                font-size: 14pt;
                font-weight: bold;

                /* Proportions */
                padding: 1vh 1vw;
            }