body {
    margin: 0;
    padding: 0;
}

.content {
    /* Display settings */
    display: flex;

    /* Proportions */
    height: 60vh;
    padding: 0;
    margin: 0;
    width: 100vw;
}

.content-1 {
    /* Display settings */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* Proportions */
    height: 60vh;
    margin: 0 0 0 1vw;
    padding: 0;
    width: 59vw;
}

.content-1 h1, h2 {font-family: ArialRounded;}
.content-1 p {font-family: Arial}

.content-2 {
    /* Display settings */
    align-items: end;
    display: flex;
    justify-content: center;

    /* Proportions */
    height: 60vh;
    margin: 0 1vw 0 0;
    padding: 0;
    width: 39vw;
}

.content-2 img {
    /* Proportions */
    height: 50vh;
    width: auto;
}

.footer {
    /* Background settings */
    background-color: #9932CC;

    /* Proportions */
    height: 30vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.footer .footer-1 {
    /* Display settings */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Proportions */
    height: 12vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.footer .footer-1 a {
    /* Font settings */
    color: #FFFFFF;
    font-family: ArialRounded;
    text-decoration: none;
}

.footer .footer-2 {
    /* Display settings */
    align-items: start;
    display: flex;
    justify-content: center;

    /* Proportions */
    height: 7vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.footer .footer-2 button {
    /* Background settings */
    background-color: #9932CC;
    
    /* Border settings */
    border: 2px solid #FFFFFF;
    border-radius: 20px;

    /* Font settings */
    color: #FFFFFF;
    letter-spacing: 1px;
    font-weight: bold;

    /* Proportions */
    height: auto;
    padding: 1vh 1vw;
    margin: 0 1vw;
    width: auto;
}